


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

header {
  display: flex;
  border-bottom: 1px white solid;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  height: 69px;
  background-color: black;


}

.logo img {
  display: flex;
  height: 50px;
  padding-left: 10px;

}


nav span {
  display: inline-block;
  padding-right: 20px;
  color: white;
}

span a {
  color: white;
}

/* Below is the first container */

.container {
  top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px white solid;

}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  border: 1px white solid;
  margin-left: 300px;
}

.our-mission {
  border: 1px white solid;
  height: 125px;
  padding-bottom: 5px;
  text-align: center;
  background-color: black;

}


/* Below is second container */
.second-container {
  display: flex;
  flex-direction: column;
  border: 3px white solid;
  width: 1000px;
  margin-left: 400px;

}

.Tea-of-the-month {


}



.photo {
  height: 300px;
  width: 200px;
}






.text {
  padding-top: 40px;
}
