
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  border-bottom: 1px white solid;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 69px;
  background-color: black;
  z-index: 2;



}

.logo img {
  display: flex;
  height: 50px;
  padding-left: 10px;
}


nav a {
  display: inline-block;
  padding-right: 20px;
  color: white;
}


/* Below is the first container */

.container {
  top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.first-picture {
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin-left: 300px;

}

.our-mission {
  height: 125px;
  padding-bottom: 5px;
  text-align: center;
  background-color: black;
}


/* Below is mid of the website */

.monthly-tea {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 400px;
  text-align: center;
  width: 1000px;
}

.different-teas {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}


.tea-photo {
  height: 200px;
  width: 300px;
}

/* below is the last section on the page with the Loaction */

.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-left: 300px;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}


.locations-spec {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  margin-left: 40px;
  width: 300px;
  height: 300px;
}


.contact-info {
  height: 200px;
  text-align: center;
}

footer {
text-align: left;
margin-left: 20px;
}
